[submodule ".github/github_actions_scripts"]
	path = .github/github_actions_scripts
	url = git@github.com:equipez/github_actions_scripts.git
[submodule ".github/scripts"]
	path = .github/scripts
	url = git@github.com:equipez/github_actions_scripts.git
