# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Stores data in plain text format.
*.xml

# Octave session info
octave-workspace

# Test results
tests/testdata/

# output.txt
tests/*.txt

# wm_newuoa
wm_newuoa.m
tests/competitors/wm_newuoa

# bfo.m for the copyright
bfo.m

# untitled.m for some temporary tests
untitled.m

testdspd.m
test_temporary.m

# imfil
tests/competitors/imfil_wrapper.m
tests/competitors/private/imfil_matcutest.m
tests/competitors/private/imfil_optset.m
tests/competitors/private/imfil.m
# setup
# setup.m
# recursive.m
# parallel.m
# setup_tools/
# testbds.m
# parallel_test_matlab.yml
# recursive_test_matlab.yml

# .idea
.idea/

# some workflow files not to be tracked
.github/workflows/test_dspd_num_random_vectors_big.yml
.github/workflows/test_dspd_num_random_vectors_small.yml

# some temporary files for local test
tests/probinfo.mat
tests/matlab_problems
tests/s2mpjlib.m
tests/profile_script.m
